/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* top banner */
.top-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #2d25a0;
}
.banner-left {
  margin-left: 186px;
  margin-top: 198px;
}
.banner-left-header {
  width: 485px;
  height: 230px;
}
.banner-left-header h1 {
  color: white;
}
.button a {
  text-decoration: none;
  color: white;
  background-color: #e02c6d;
  padding: 5px 10px;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}
.button a:hover {
  background-color: tomato;
  box-shadow: 2px 2px 10px 3px gray;
  font-weight: 400;
  transform: scale(1.1);
  font-size: 18px;
}
.button {
  margin-top: 36px;
}
.banner-image {
  height: 438px;
  width: 556px;
  margin-right: 140px;
  margin-top: 153px;
  transition: all 0.5s ease;
  margin-bottom: 86px;
}
.banner-image:hover {
  transform: scale(1.1);
}
/* top players */
.top-players {
  margin-top: 70px;
}
.player-image img {
  width: 300px;
  height: 256px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
}
.box {
  border: 5px solid white;
  width: 330px;
  height: 474px;
  box-shadow: -5px -5px 5px 1px gray;
  transition: all 0.3s ease;
}
.box:hover {
  transform: scale(1.05);
}
.player {
  margin: 15px;
}

.player-info {
  width: 300px;

  text-align: justify;
}
.player-info h3 {
  margin: 16px 0 0 0;
}
.player-info p {
  font-size: 16px;
  color: #6c6c6c;
  margin-top: 10px;
}

/* footer section */

.footer-section {
  margin-top: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-image img {
  width: 484px;
  height: 110px;
}
.social-icons,
.copyright {
  margin-top: 20px;
}
.social-icons i {
  color: gray;
  border-radius: 50%;
  padding: 5px;
  margin-left: 14px;
  width: 32px;
  height: 32px;
}

.footer-section .copyright {
  font-size: 18px;
  margin-bottom: 63px;
}

/* Media Queries */
@media only screen and (max-width: 688px) {
  header {
    width: 100%;
  }
  .top-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-image {
    margin: 0;

    width: 329px;
    height: 259px;
    margin-top: 50px;
  }
  .banner-left {
    margin-top: 112px;
  }
  .button {
    margin-top: 30px;
  }

  .players {
    grid-template-columns: repeat(1, 1fr);
  }
  .box {
    box-shadow: none;
  }
  .footer-image img {
    width: 275px;
    margin-top: 43px;
  }
}

/* tablet devices */

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .top-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
}
